*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1{
    text-align: center;
}
/* small screens */
.container{
    margin-left: auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
} 

img{
    width:150px;
}

.box{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}


@media(max-width: 767px){

    h1{
        color: red;
    }

    .box{
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;

    }
}


@media(min-width: 768px){

    .container{
        width: 750px;
    }
}
